.mdiv {
  margin: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.mdiv > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 10px;
  width: 50%;
}

.mdiv > button {
  padding: 10px;
  margin: 5px;

  background-color: darkgreen;
}

.mdiv > button:hover {
  background-color:brown ;
}

#msg {
   border: 1px solid darkgreen;
   width: 340px;
   padding: 15px;

   font-size: large;
   font-weight: bold;
}