header, main, footer {
  margin-left: 20%;
  width: 60%;
  border: 1px solid blue;
  margin-top: 10px; 
}

header {
  background-color: blue;
  color: aliceblue;
  display: flex;
  justify-content: center;
}

main {
  height: 70vh;
}

main a {
  text-decoration: none;
}

main ol {
  margin-left: 5%;
  width: 85%;
}

main li {
  border: 1px dotted gainsboro;
  padding: 5px; 
  margin: 5px 0px;
}

main li:hover {
  background-color: aliceblue;
}

footer > ul {
  display: flex;
  justify-content: right;
  list-style: none;
  padding: 5px 15px;
}

footer a {
  text-decoration: none;
  margin: 0px 5px;
  padding: 5px 10px;
  background-color: blue;
  color: white;
  border-radius: 5px;
}

footer a:hover , #inf:hover {
  background-color: brown;
}


#inf {
  background-color: green;
}