main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background-color: blue;
  color: white;

  padding: 5px 10px;
  border-radius: 5px;

  border: 0px;
}

button:hover {
  background-color:brown;
  cursor: pointer;
}