.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  width: 80px;
  height: 80px;
  border: 1px solid gainsboro;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.hbox {
  width: 260px;
  height: 260px;
  border: 1px solid gainsboro;
  display:flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 90%;
  height: 90%;
}

.row > button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: 160px;
}

#msg {
  font-size: large;
  color: brown;
  font-weight: bold;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}