form {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  /* background-color: aqua; */
  border: 1px dotted gainsboro;
}

.mdiv {
  width: 45%;
  height: 50px;
  margin-left: 5%;
}

.mdiv> select {
  width: 80%;
  height: 40px;
}

.mdiv > input{
  width: 60%;
  height: 30px;
}
 
[readonly] {
  background-color: beige;
}

label {
  font-weight: bold;
}

[for = txt1] {
  color: brown; 
}

[for = txt2] {
  color: blue;
}